
<div class="card">
    <div class="card-header"> 
        @TempData["pname"]
    </div>
    <div class="card-body">
        <h5 class="card-title">@TempData["desc"]</h5>
        <a href="#" class="btn btn-primary">@TempData["price"]</a>
    </div>
</div>